<template name="exchanges">
    <br/>
    <p class="lead">Lista de Exchanges integradas:</p>
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/foxbit" role="button" style="width:290px;">
                <img src="https://foxbit.exchange/assets/exchange_logos/foxbit_toolbar_logo.png" style=" height: 50px; ">
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/mercadobitcoin" role="button" style="width:290px;">
                <img src="https://www.mercadobitcoin.com.br/static/img/logo/mb-logo.png" style=" height: 50px; ">
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/binance" role="button" style="width:290px;">
                <img src="https://www.binance.com/resources/img/logo-en.svg" style=" height: 50px; ">
            </a>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/hitbtc" role="button" style="width:290px;">
                <img src="https://hitbtc.com/blocks/logo/logo.png">
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/livecoin" role="button" style="width:290px;">
                <img src="https://swissborg.com/images/content/livecoin.png">
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/bitfinex" role="button" style="width:290px;">
                <img src="https://www.bitfinex.com/assets/logo3-dark-theme-90276da89b3131461fd422756694de9bf75895deee13e02809682be956e229ff.svg" style=" height: 30px; ">
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-dark btn-lg" href="/admin/exchanges/yobit" role="button" style="width:290px;">
                <img src="https://yobit.net/images/logo.png" style=" height: 30px; ">
            </a>
        </div>
    </div>
</template>