<template name="fundos">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fundos</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="input-group mb-3">
                            <input id="procurarFundo" class="form-control" placeholder="Procurar por nome" />
                        </div>
                    </div>
                    <div class="list-group">
                        {{#each fundos}}
                        <a href="/admin/fundo/{{_id}}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{nome}}</h5>
                                <small>{{formatDate criadoEm}}</small>
                            </div>
                        </a>
                        {{/each}}
                        <a href="/admin/fundo" class="list-group-item list-group-item-action text-center" title="Incluir novo fundo">+</a>
                    </div>
                </div>
            </div>
        </div>  
    </template>